<div class="demo-container" #fullscreenElement>
  <div class="tabs-info-wrapper-element">
    <div class="tab-container" [class.hidden]="isFullscreen">
      @for (tab of activeTabs; track tab) {
        <div
          class="tab-item-container"
          [routerLink]="isChartsSection ? ['charts', tab.key] : [tab.key]"
          routerLinkActive
          #rla="routerLinkActive"
          >
          <ng-container
            [ngTemplateOutlet]="tabItemTemplate"
          [ngTemplateOutletContext]="{
            enabled: rla.isActive,
            tabName: isChartsSection ? 'charts/' + tab.key : tab.key
          }"
          ></ng-container>
        </div>
      }
    </div>


    @for (tab of activeTabs; track tab) {
      @if (router.url.includes(tab.key)) {
        <ng-container
          [ngTemplateOutlet]="tabItemInfoTemplate"
          [ngTemplateOutletContext]="{ tabName: isChartsSection ? 'charts/' + tab.key : tab.key }"
        ></ng-container>
      }
    }

  </div>

  <div class="router-container">
    <router-outlet></router-outlet>
  </div>
</div>

<ng-template #tabItemInfoTemplate let-tabName="tabName">
  <div #tabItemInfo class="current-tab-info">
    <div class="sample-info">
      <div class="tab-header">{{ tabInfo.get(tabName)?.title }}</div>
      <div class="tab-description">{{ tabInfo.get(tabName)?.content }}</div>
    </div>

    <div class="sample-actions">
      <div class="theme-info">Theme: {{ tabInfo.get(tabName)?.theme }}</div>
      <div class="theme-info">Mode: {{ tabInfo.get(tabName)?.themeMode }}</div>
      <div class="action-buttons">
        <button
          igxButton="outlined"
          class="custom-button"
          (click)="onDownloadClick($event, tabName)"
          >
          <igx-icon family="custom" name="file_download"></igx-icon>
          Download
        </button>

        <button
          igxButton="outlined"
          class="custom-button"
          (click)="onViewMoreClick($event, tabName)"
          >
          <igx-icon family="custom" name="view_more"></igx-icon>
          View More
        </button>

        <button
          igxButton="outlined"
          class="custom-button"
          (click)="onToggleFullscreen()"
          >
          <igx-icon family="custom" [name]="isFullscreen ? 'exit_fullscreen' : 'fullscreen'"></igx-icon>
          <span>{{ isFullscreen ? 'Exit Fullscreen' : 'Fullscreen' }}</span>
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #tabItemTemplate let-enabled="enabled" let-tabName="tabName">
  <div #tabItem class="tab-item" [ngClass]="{ 'tab-item--selected': enabled }">
    <div class="tab-header" [ngClass]="{ 'tab-header--disabled': !enabled }">
      {{ tabInfo.get(tabName)?.title?.toUpperCase() }}
    </div>
  </div>
</ng-template>
