.rootSample {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    max-height: 910px;
    margin-top: 20px;
    margin-left: 10px;
}

.pivotToolbar {
    display: flex;
    justify-content: space-between;
    min-height: 40px;
    border: solid 1px hsl(from var(--ig-gray-400) h s l / 1);
    background: var(--igx-grid-header-background, hsl(from var(--ig-surface-500) h s l/1));
}

.pivotRow {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    max-height: 100%;
}

.pivotContainer {
    width: 100%;
    border: solid 1px hsl(from var(--ig-gray-400) h s l / 1);
    border-top: none;
    border-right: none;
    min-height: 100%;
    max-height: 100%;
}

.selectorContainer {
    min-width: 180px;
    min-height: 100%;
}

.countryHeader {
    width: 100%;
    display: flex;
    align-items: center;
    // justify-content: center;
}

.countryImage {
    height: 14px;
    margin-right: 0.2rem;
    box-shadow: var(--ig-elevation-1);
}


igx-pivot-data-selector {
    border: solid 1px hsl(from var(--ig-gray-400) h s l / 1);
    border-top: none;
    min-height: 100%;
    max-height: 100%;

    ::ng-deep {
        .igx-list__item-content {
            padding: 0 8px !important;
            
            span {
                margin-inline-start: initial;
            }
        }
    }
}
