<igx-tree-grid #treeGrid [data]="localData" primaryKey="ID" childDataKey="Employees"
  [rowStyles]="rowStyles" rowSelection="multipleCascade" [allowFiltering]="true" [filterMode]="'excelStyleFilter'">
  <igx-paginator [perPage]="20"></igx-paginator>
  <igx-grid-toolbar>
    <igx-grid-toolbar-title>Actions</igx-grid-toolbar-title>
    <igx-grid-toolbar-actions>
      <button igxButton="flat" *ngIf="treeGrid.sortingExpressions.length> 0"
        (buttonClick)="treeGrid.sortingExpressions=[]">
        <igx-icon>clear</igx-icon>
        <label>Clear Sort</label>
      </button>
      <igx-grid-toolbar-hiding></igx-grid-toolbar-hiding>
      <igx-grid-toolbar-pinning></igx-grid-toolbar-pinning>
      <igx-grid-toolbar-exporter>
        <span excelText>Export to Excel</span>
        <span csvText>Export to CSV</span>
      </igx-grid-toolbar-exporter>
      <igx-grid-toolbar-advanced-filtering></igx-grid-toolbar-advanced-filtering>
    </igx-grid-toolbar-actions>
  </igx-grid-toolbar>
  <igx-column field="Name" width="300px" sortable="true" [pinned]="true">
    <ng-template igxCell let-cell="cell">
      <div class="employeeDiv">
        <igx-avatar [src]="cell.row.data.Picture" shape="rounded"></igx-avatar>
        {{ cell.row.data.Name }}
      </div>
    </ng-template>
  </igx-column>
  <igx-column field="JobTitle" header="Job Title" dataType="string" minWidth="200px" sortable="true"></igx-column>
  <igx-column field="Department" dataType="string" minWidth="200px" sortable="true"></igx-column>
  <igx-column field="Location" dataType="string" sortable="true">
    <ng-template igxCell let-cell="cell">
      <div class="flagDiv">
        <igx-icon family="country-icons" name="{{cell.row.data.Country}}"></igx-icon>
        {{ cell.row.data.Location }}, {{ cell.row.data.Country }}
      </div>
    </ng-template>
  </igx-column>
  <igx-column field="Contacts" dataType="string" minWidth="200px" [filterable]="false">
    <ng-template igxCell>
      <div class="center-content">
        <button igxIconButton="flat">
          <igx-icon>mail</igx-icon>
        </button>
        <button igxIconButton="flat">
          <igx-icon>phone</igx-icon>
        </button>
        <button igxIconButton="flat">
          <igx-icon family="hr-icons" name="linkedIn"></igx-icon>
        </button>
      </div>
    </ng-template>
  </igx-column>
  <igx-column field="HireDate" header="Hire Date" dataType="date" minWidth="100px" sortable="true" sortable="true">
    <ng-template igxCell let-cell="cell">
      {{ cell.value | date:'yyyy-MM-dd' }}
    </ng-template>
  </igx-column>
  <igx-column field="GrossSalary" header="Gross Salary" dataType="currency" minWidth="100px" sortable="true"
    [cellClasses]="rightAlign"></igx-column>
</igx-tree-grid>
