::ng-deep {
  :root {
    font-family: var(--ig-font-family);
  }
  .profitCondition {
    color: var(--ig-success-500);
  }

  .lossCondition {
    color: var(--ig-error-500);
  }
}

.assets-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  & igx-avatar {
    --igx-avatar-size: 32px;
  }
}
