// IMPORTANT: Prior to Ignite UI for Angular version 13 use:
// @import '~igniteui-angular/lib/core/styles/themes/index';

.flex-container {
  display: block;
  margin: 0 auto;
  align-items: center; /* Align items vertically centered */
  text-align: center;
  justify-content: center;
  gap: 8px; /* Optional: Add some space between items */
}

igx-tree-grid {
  --ig-size: var(--ig-size-medium);

}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

 .employeeDiv {
  --igx-avatar-size: 28px;
  gap: 8px;
 }

 .flagDiv {
  gap: 8px;
  align-items: center;
  display: flex;
 }

 .flagDiv igx-icon {
  height: 14px;
  width: 18px;
  border-radius: 1px;
  box-shadow: var(--ig-elevation-1);
  display: block;
  overflow: hidden;
}

::ng-deep {
  :root {
    --ig-button-text-transform: Capitalize;
    --ig-font-family: "Open Sans", sans-serif;
  }
}
