<div class="demo-container">
  <div class="tab-container ">
    <div routerLink="inventory" routerLinkActive #tab1="routerLinkActive"  >
      <ng-container [ngTemplateOutlet]="tabItemTemplate" [ngTemplateOutletContext]="{ enabled: tab1.isActive, tabName: 'inventory' }"></ng-container>
    </div>
    <div routerLink="hr-portal" routerLinkActive #tab2="routerLinkActive"  >
      <ng-container [ngTemplateOutlet]="tabItemTemplate" [ngTemplateOutletContext]="{ enabled: tab2.isActive, tabName: 'hr-portal' }"></ng-container>
    </div>
    <div routerLink="finance" routerLinkActive #tab3="routerLinkActive"  >
      <ng-container [ngTemplateOutlet]="tabItemTemplate" [ngTemplateOutletContext]="{ enabled: tab3.isActive, tabName: 'finance' }"></ng-container>
    </div>
    <div routerLink="sales" routerLinkActive #tab4="routerLinkActive"  >
      <ng-container [ngTemplateOutlet]="tabItemTemplate" [ngTemplateOutletContext]="{ enabled: tab4.isActive, tabName: 'sales' }"></ng-container>
    </div>
    <div routerLink="fleet" routerLinkActive #tab5="routerLinkActive"  >
      <ng-container [ngTemplateOutlet]="tabItemTemplate" [ngTemplateOutletContext]="{ enabled: tab5.isActive, tabName: 'fleet' }"></ng-container>
    </div>
  </div>
  <div class="router-container">
    <router-outlet></router-outlet>
  </div>
</div>

<ng-template #tabItemTemplate let-enabled="enabled" let-tabName="tabName">
  <div class="tab-item" [ngClass]="{'tab-item--selected': enabled}">
    <div class="tab-header" [ngClass]="{'tab-header--disabled': !enabled}">
      {{ tabInfo.get(tabName)?.title }}
      <igx-chip [disabled]="!enabled">{{ tabInfo.get(tabName)?.theme }}</igx-chip>
    </div>
    <div class="tab-content" [ngClass]="{'tab-content--disabled': !enabled}">
      <span>{{ tabInfo.get(tabName)?.content }}</span>
    </div>
    <div class="tab-actions">
      <a class="learn-text" href="{{ tabInfo.get(tabName)?.moreLink }}" (click)="onLinkClick($event)" [ngClass]="{'link--disabled': !enabled}">View on GitHub</a>
      <button igxRipple [igxIconButton]="'contained'" [disabled]="!enabled"><igx-icon>download</igx-icon></button>
    </div>
  </div>
</ng-template>
