<div class="demo-container">
  <div class="tab-container ">
    <div class="tab-item" routerLink="inventory" routerLinkActive="tab-item--selected">
      <div class="tab-header">
        <igx-chip>Material Light</igx-chip>
        ERP/Inventory
      </div>
      <div class="tab-content">
        <span>Inventory grid for tracking and managing the quantity, location, and details of products in stock, which also displays orders of each item.</span>
        <div class="learn-text">Learn more</div>
      </div>
    </div>
    <div class="tab-item" routerLink="hr-portal" routerLinkActive="tab-item--selected">
      <div class="tab-header">
        <igx-chip>Fluent Light</igx-chip>
        HR Portal
      </div>
      <div class="tab-content">
        <span>An organizational chart outlining the company’s hierarchical structure, showing employees, their job titles, and direct reporting relationships.</span>
        <div class="learn-text">Learn more</div>
      </div>
    </div>
    <div class="tab-item" routerLink="finance" routerLinkActive="tab-item--selected">
      <div class="tab-header">
        <igx-chip>Bootstrap Light</igx-chip>
        Finance
      </div>
      <div class="tab-content">
        <span>A real-time portfolio management system featuring asset tracking, profit and loss analyses, and interactive, dynamic charts.</span>
        <div class="learn-text">Learn more</div>
      </div>
    </div>
    <div class="tab-item" routerLink="sales" routerLinkActive="tab-item--selected">
      <div class="tab-header">
        <igx-chip>Indigo Light</igx-chip>
        Sales
      </div>
      <div class="tab-content">
        <span>A sales summary by region, product, and time period, offering detailed trend analyses and key performance indicators (KPIs).</span>
        <div class="learn-text">Learn more</div>
      </div>
    </div>
    <div class="tab-item" routerLink="fleet" routerLinkActive="tab-item--selected">
      <div class="tab-header">
        <igx-chip>Material Dark</igx-chip>
        Fleet Management
      </div>
      <div class="tab-content">
        <span>A master-detail grid for managing vehicle acquisition, operations, and maintenance, offering detailed tracking and performance insights.</span>
        <div class="learn-text">Learn more</div>
      </div>
    </div>
  </div>
</div>
<div class="router-container">
  <router-outlet></router-outlet>
</div>
