<igx-grid [data]="data$ | async" [isLoading]="isLoading" class="grid-sizing">
  <igx-grid-toolbar>
    <igx-grid-toolbar-title>Financial Portfolio</igx-grid-toolbar-title>
      <igx-input-group type="search">
        <input #search igxInput placeholder="Filter by Asset" (input)="filter($event)"/>
      </igx-input-group>
    <igx-grid-toolbar-actions>
      <igx-grid-toolbar-hiding></igx-grid-toolbar-hiding>
      <igx-grid-toolbar-pinning></igx-grid-toolbar-pinning>
      <igx-grid-toolbar-exporter></igx-grid-toolbar-exporter>
    </igx-grid-toolbar-actions>
  </igx-grid-toolbar>
  <igx-column field="id" header="Symbol" [width]="'7%'" [minWidth]="'68px'"></igx-column>
  <igx-column field="holdingName" header="Asset" sortable="true" [width]="'15%'" [minWidth]="'100px'">
    <ng-template igxCell let-cell="cell" let-val>
      <div class="assets-container">
        <igx-avatar [src]="getPathToImage(val)" [shape]="'rounded'"></igx-avatar>
        <span>{{ val }}</span>
      </div>
    </ng-template>
  </igx-column>
  <igx-column field="value.currentPrice" header="Last Price" [dataType]="'currency'" [width]="'7%'" [minWidth]="'80px'"></igx-column>
  <igx-column field="dailyPercentageChange" header="Change %" dataType="percent" [cellClasses]="profitLossValueClasses" [width]="'10%'" [minWidth]="'85px'">
    <ng-template igxCell let-val>
      <div class="assets-container">
        <div>
          {{ val | percent : "1.0-2" }}
        </div>

        @if (val >= 0) {
        <igx-icon>trending_up</igx-icon>
        } @else {
        <igx-icon>trending_down</igx-icon>
        }
      </div>
    </ng-template>
  </igx-column>
  <igx-column field="marketValue" header="Market Value" [dataType]="'currency'" [width]="'5%'" [minWidth]="'100px'"></igx-column>
  <igx-column field="profitLossValue" header="NET Profit" dataType="currency" [width]="'10%'" [minWidth]="'90px'" [cellClasses]="profitLossValueClasses">
    <ng-template igxCell let-val>
      <div class="assets-container">
        <div>
          {{ val | currency }}
        </div>

        @if (val >= 0) {
        <igx-icon>trending_up</igx-icon>
        } @else {
        <igx-icon>trending_down</igx-icon>
        }
      </div>
    </ng-template>
  </igx-column>
  <igx-column field="profitLossPercentage" header="NET Profit %" dataType="percent" [width]="'10%'" [minWidth]="'98px'" [cellClasses]="profitLossValueClasses">
    <ng-template igxCell let-val>
      <div class="assets-container">
        <div>
          {{ val | percent : "1.0-2" }}
        </div>

        @if (val >= 0) {
        <igx-icon>trending_up</igx-icon>
        } @else {
        <igx-icon>trending_down</igx-icon>
        }
      </div>
    </ng-template>
  </igx-column>
  <igx-column field="allocation" header="Allocation" dataType="percent" [width]="'10%'" [minWidth]="'100px'">
    <ng-template igxCell let-val>
      <div class="progress-container">
        <div>
          {{ val | percent : "1.0-2" }}
        </div>
        <igx-linear-bar [value]="val * 100" [animate]="false" textVisibility="false"></igx-linear-bar>
      </div>
    </ng-template>
  </igx-column>
  <igx-column field="value.boughtPrice" header="Average Cost" dataType="currency" [width]="'10%'" [minWidth]="'100px'"></igx-column>
  <igx-column field="positions" header="Position" [dataType]="'number'" [width]="'6%'" [minWidth]="'80px'"></igx-column>
  <igx-column field="holdingPeriod" header="Holding Period" [width]="'8%'" [minWidth]="'50px'">
    <ng-template igxCell let-val> {{ val }} days </ng-template>
  </igx-column>
</igx-grid>
