@use "igniteui-angular/theming" as *;

.tab-container {
  @include core();
  @include typography(
    $font-family: $material-typeface,
    $type-scale: $material-type-scale
  );
  @include theme($default-palette);
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1100px;
}
