@use "igniteui-angular/theming" as *;

@include core();
@include typography();
@include theme(
  $palette: $dark-material-palette,
  $schema: $dark-material-schema
);

:host {
  display: block;
  height: 100%;
  width: 100%;

  ::ng-deep {
    @include typography();
    @include theme(
      $palette: $dark-material-palette,
      $schema: $dark-material-schema
    );

    igx-card .igx-card-header__thumbnail {
      align-self: center;
      margin-inline-end: 0;
    }

    .overlay igx-card {
      border: 0px;
      border-radius: 4px;
      box-shadow: var(--ig-elevation-24);
    }
  }
}
