<div class="rootSample">
    <div class="pivotToolbar igx-grid__tr-pivot">
        <span class="igx-grid-toolbar__title">Sales Dashboard</span>
        <div>
            <button igxButton="contained" style="margin-right: 10px;" [igxToggleAction]="viewDropdown" [igxDropDownItemNavigation]="viewDropdown" [igxTooltipTarget]="configTooltipRef">
                <igx-icon [name]="'visibility'" [family]="'material'"></igx-icon>
                {{availableConfigs.get(selectedConfig)?.title}}
                <igx-icon [name]="viewDropdown.collapsed ? 'expand' : 'collapse'" [family]="'default'"></igx-icon>
            </button>
            <button igxButton="outlined" (click)="onExportClick()">
                <igx-icon [name]="'file_download'" [family]="'internal_indigo'"></igx-icon>
                Export to Excel
            </button>
            <igx-drop-down #viewDropdown (selectionChanging)="onViewSelection($event)">
              @for (configInfo of availableConfigs; track configInfo[0]) {
                <igx-drop-down-item [id]="configInfo[0]" [selected]="selectedConfig === configInfo[0]"><span>{{availableConfigs.get(configInfo[0])?.title}}</span></igx-drop-down-item>
              }
            </igx-drop-down>
        </div>
    </div>
    <div class="pivotRow">
        <div class="pivotContainer">
            <igx-pivot-grid #salesGrid
                [data]="data"
                [superCompactMode]="true"
                [defaultExpandState]="true"
                [pivotConfiguration]="pivotConfigBrands"
                (columnInit)="onColumnInit($event)">
            </igx-pivot-grid>
        </div>
        <div class="selectorContainer">
            <igx-pivot-data-selector [grid]="salesGrid"></igx-pivot-data-selector>
        </div>
        <ng-template igxHeader #countryColumn let-col>
            <div class="countryHeader">
                <img class="countryImage" src="{{flagsData[col.field]}}" /><span>{{col.field}}</span>
            </div>
        </ng-template>
    </div>
</div>

<div #configTooltipRef="tooltip" igxTooltip>
  Change pivot configuration.
</div>
