<div class="wrapper">
    <igx-hierarchical-grid
        #hierarchicalGrid
        height="775px"
        width="100%"
        rowHeight="32px"
        [data]="hgridData"
        [autoGenerate]="false"
        [allowFiltering]="true"
        [allowAdvancedFiltering]="true"
        [rowSelection]="selectionMode"
        [primaryKey]="'sku'"
        [moving]="true">

        <igx-grid-toolbar>
            <igx-grid-toolbar-title>Actions</igx-grid-toolbar-title>
            <igx-grid-toolbar-actions>
                <igx-grid-toolbar-hiding></igx-grid-toolbar-hiding>
                <igx-grid-toolbar-pinning></igx-grid-toolbar-pinning>
                <igx-grid-toolbar-exporter [exportExcel]="true" [exportCSV]="true" (exportStarted)="exportStarted($event)"></igx-grid-toolbar-exporter>
                <igx-grid-toolbar-advanced-filtering></igx-grid-toolbar-advanced-filtering>
            </igx-grid-toolbar-actions>
        </igx-grid-toolbar>

        <igx-column field="sku" header="SKU" [sortable]="true" dataType="string" width="110px"></igx-column>
        <igx-column
            field="imageUrl"
            header="Image"
            width="90px"
            [filterable]="false"
            [dataType]="'image'"
            [cellClasses]="{'product-img': true}">

            <ng-template igxCell let-cell="cell" let-val>
                <img
                    #imageElement
                    [src]="cell.value"
                    alt="Product"
                    igxRipple="white"
                    (mouseenter)="onImageHover($event, imageDialog)"
                    (mouseleave)="onImageLeave($event, imageDialog)"/>
                <igx-dialog
                    #imageDialog
                    isModal="false"
                    [title]="cell.row.data.productName">
                    <img [src]="cell.value" width="312px" height="312px" alt="Product View"/>
                </igx-dialog>
            </ng-template>
        </igx-column>
        <igx-column field="productName" header="Product Name" dataType="string" [sortable]="true" width="320px"></igx-column>
        <igx-column field="category" header="Category" dataType="string" [sortable]="true" width="155px"></igx-column>
        <igx-column
            field="rating"
            header="Rating"
            width="167px"
            [sortable]="true">
            <ng-template igxCell let-cell="cell" let-val>
                <igc-rating [value]="val" readonly="true" min="0" max="5"></igc-rating>
            </ng-template>
        </igx-column>
        <igx-column field="unitsSold" header="Sold Units" dataType="number" width="130px" [sortable]="true"></igx-column>
        <igx-column field="salesTrendData" header="Performance" filterable="false">
            <ng-template igxCell let-cell="cell" let-val>
                @defer {
                <igx-sparkline #sparkline
                    [dataSource]="cell.value"
                    valueMemberPath="value"
                    width="100%"
                    height="100%"
                    lineThickness="1"
                    brush="#424242"
                    displayType="Line">
                </igx-sparkline>
                }
            </ng-template>
        </igx-column>
        <igx-column field="grossPrice" header="Gross Price" dataType="currency" width="130px" [sortable]="true"></igx-column>
        <igx-column field="netPrice" header="Net Price" dataType="currency" width="130px" [sortable]="true"></igx-column>
        <igx-column field="totalNetProfit" header="Net Profit" dataType="currency" width="130px" [sortable]="true"></igx-column>

        <igx-row-island
            #rowisland
            [key]="'orders'"
            [autoGenerate]="false"
            [allowFiltering]="true"
            [rowSelection]="selectionMode">
            <igx-column
                field="orderId"
                header="Order ID"
                dataType="number"
                width="110px"
                [formatter]="formatNumberAsIs">
            </igx-column>
            <igx-column field="status" header="Status" width="165px">
                <ng-template igxCell let-cell="cell">
                    <div class="status-cell">
                        <span>
                            <igx-badge  *ngIf="cell.value === orderStatus.PACKED" type="primary" shape="rounded" elevated>
                                <igx-icon family="imx-icons" name="dropbox" class="custom-icon"></igx-icon>
                            </igx-badge>
                            <igx-badge  *ngIf="cell.value === orderStatus.IN_TRANSIT" type="warning" shape="rounded">
                                <igx-icon family="imx-icons" name="delivery" class="custom-icon"></igx-icon>
                            </igx-badge>
                            <igx-badge  *ngIf="cell.value === orderStatus.CUSTOMS" type="error" shape="rounded">
                                <igx-icon family="imx-icons" name="bill-paid" class="custom-icon"></igx-icon>
                            </igx-badge>
                            <igx-badge  *ngIf="cell.value === orderStatus.DELIVERED" type="success" shape="rounded">
                                <igx-icon family="imx-icons" name="check" class="custom-icon"></igx-icon>
                            </igx-badge>
                        </span>
                        <span>{{cell.value}}</span>
                    </div>
                </ng-template>
            </igx-column>

            <igx-column-group header="Delivery" [collapsible]="true">
                <ng-template igxCollapsibleIndicator let-column="column">
                    <igx-icon
                        #target="tooltipTarget"
                        [igxTooltipTarget]="tooltipRef"
                        [attr.draggable]="false"
                        [showDelay]="0"
                        [hideDelay]="0">
                            {{column.expanded ? 'expand_more' : 'chevron_right'}}
                    </igx-icon>
                    <div #tooltipRef="tooltip" igxTooltip>
                        <span style="width: 200px"> {{getTooltipText(column.expanded)}}</span>
                    </div>
                </ng-template>

                <!-- Show this column when collapsed -->
                <igx-column
                    field="delivery.dateOrdered"
                    header="Date Ordered"
                    dataType="string"
                    width="180px"
                    [sortable]="true"
                    [resizable]="true"
                    [visibleWhenCollapsed]="true"
                    [formatter]="formatDate">
                </igx-column>

                <!-- Show next 3 columns when expanded -->
                <igx-column
                    field="delivery.dateOrdered"
                    header="Date Ordered"
                    dataType="string"
                    width="180px"
                    [sortable]="true"
                    [resizable]="true"
                    [visibleWhenCollapsed]="false"
                    [formatter]="formatDate">
                </igx-column>
                <igx-column
                    field="delivery.dateShipped"
                    header="Date Shipped"
                    dataType="string"
                    width="180px"
                    [sortable]="true"
                    [resizable]="true"
                    [visibleWhenCollapsed]="false"
                    [formatter]="formatDate">
                </igx-column>
                <igx-column
                    field="delivery.dateDelivered"
                    header="Date Delivered"
                    dataType="string"
                    width="180px"
                    [sortable]="true"
                    [resizable]="true"
                    [visibleWhenCollapsed]="false"
                    [formatter]="formatDate">
                </igx-column>
            </igx-column-group>

            <igx-column-group header="Order Information" [collapsible]="true">
                <ng-template igxCollapsibleIndicator let-column="column">
                    <igx-icon
                        #target="tooltipTarget"
                        [igxTooltipTarget]="tooltipRef"
                        [attr.draggable]="false"
                        [showDelay]="0"
                        [hideDelay]="0">
                            {{column.expanded ? 'expand_more' : 'chevron_right'}}
                    </igx-icon>
                    <div #tooltipRef="tooltip" igxTooltip>
                        <span style="width: 200px"> {{getTooltipText(column.expanded)}}</span>
                    </div>
                </ng-template>

                <!-- Show next 4 columns when expanded -->
                <igx-column
                    [field]="'orderInformation.country'"
                    header="Country"
                    width="180px"
                    [sortable]="true"
                    [visibleWhenCollapsed]="false">
                    <ng-template igxCell let-cell="cell">
                        <div class="country-cell">
                            <span class="cup">
                                <img [src]="cell.row.data.orderInformation.countryFlag" alt="Country Flag"/>
                            </span>
                            <span>{{cell.value}}</span>
                        </div>
                    </ng-template>
                </igx-column>

                <igx-column
                    field="orderInformation.city"
                    header="City"
                    dataType="string"
                    width="200px"
                    [sortable]="true"
                    [resizable]="true"
                    [visibleWhenCollapsed]="false">
                </igx-column>
                <igx-column
                    field="orderInformation.zipCode"
                    header="Zip Code"
                    dataType="string"
                    width="130px"
                    [sortable]="true"
                    [resizable]="true"
                    [visibleWhenCollapsed]="false">
                </igx-column>
                <igx-column
                    field="orderInformation"
                    header="Address"
                    dataType="string"
                    width="200px"
                    [sortable]="true"
                    [resizable]="true"
                    [visibleWhenCollapsed]="false"
                    [formatter]="formatAddress">
                </igx-column>

                <!-- Show this column when collapsed -->
                <igx-column
                    field="orderInformation"
                    header="Address"
                    dataType="string"
                    width="200px"
                    [sortable]="true"
                    [resizable]="true"
                    [visibleWhenCollapsed]="true"
                    [formatter]="formatAddress">
                </igx-column>

            </igx-column-group>
        </igx-row-island>
    </igx-hierarchical-grid>
</div>
